# Node modules and dependencies
node_modules/

# Environment variables (will add later once everyone clones)

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.log

# IDE specific settings
.vscode/
*.code-workspace
.idea/